Method = pbrun
#Method = slogin
#SSH_Private_key = .ssh/key.rsa
#SSH_Remote_user = root

Debug = on

  Description = "Text string here"

#Caching = off
#Memcached_server = 12.34.56.78
#Memcached_server = 23.45.67.89

# DB Parms
DB_driver = SQLite
DB_database = cmdb.db
DB_userid = ''
DB_password = ''

